
<div class="raw-fluid padding-left-10">
  <h2 class="heading" style="line-height: 5px;font-size: 20px;">Technologies</h2>
  <div style="border-bottom: solid #ccc 1.5px;"></div>
  <div class="cl-10"></div>

  <div class="grey-feed">
    <div class="row-fluid">
      <% if @technical_details && @technical_details.details %>
        <p style="color:#4B4B4B;font-size: 16px;font-style: italic;"><%=  @technical_details.details %></p>
        <%= link_to "edit" ,edit_technologies_path , :remote => true ,:style=>"float:right;margin-right:20px;" %>
        <div class="cl"></div>
      <% else %>
        <div class="cl-30"></div>
        <div class="cl-30"></div>
        <div class="cl-30"></div>
      <% end %>
    </div>
  </div>

</div>
<div class="cl-30"></div>