<!DOCTYPE html>
<html lang="en">
	<head>
	</head>

	<body>
		<div class="cl-10"></div>

		<div id="DIV_CV_BUILDER_MAIN" class="<% @format == "html" ? "span12" : "" %>" style="<% @format == "html" ? "margin:20px;padding:20px;" : "width:1170px margin:0px;padding:0px;" %>">
			  <%= render :partial=>"/download/pdf_cv" %>
		</div>

		<div class="cl-30"></div>
	</body>
</html>