<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
<%= render :file => "#{Rails.root.to_path}/app/assets/stylesheets/preview.css", :content_type => 'application/css' %>
<%= render :file => "#{Rails.root.to_path}/app/assets/stylesheets/general.css", :content_type => 'application/css' %>
    </style>
  </head>
  <body>
    <div class="cl-10"></div>
    <div>
      <%= render :partial=>"/download/pdf_cv" %>
    </div>

    <div class="cl-30"></div>
  </body>
</html>