<div class="row" style="padding-left: 30px;padding-right: 30px;width:1020px">
  <div class="well-white span12" style="margin-left: 0px;height:auto;border-color: #898989">

<div class="cl-20"></div>
<%= link_to "Download PDF", download_cv_path  , :class=>"btn btn-success" , :style=>"float:right;margin-right:10px;" %>

<%= render :partial => "/download/preview" %>
  </div>
</div>