<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

</link>
<div class="span12" style="font-family: 'Arvo-Regular';min-height: 650px;margin-top: 50px;">

  <div class="span3">
    <img src="/assets/sree.jpg" height="250" width="250" style="float:left;margin-left: 20px;"></img>
  </div>
  <div class="span6" style="font-family: 'Courgette';">
     <div style="font-size:25px;"><span>Hi..</span>
       <div class="cl-10"></div>
       <div style="font-size:19px;line-height: 30px;">
         I am sreeharikmarar .. Working as a Ruby on Rails developer @ <a href="http://presciencesoft.com" >Prescience Soft Pvt Ltd</a>.<br/><br/>
         My intention behind this site was to incorporate the main features of two well known sites like 
         <a href="https://cvmkr.com/">cvmkr.com</a> and <a href="http://careers.stackoverflow.com/" > stackoverflow careers</a>.
         Both the sites has their own unique functionalities & features . If one is giving more priority for the technical features
         that we can include in professional cv making (though the careers is not intended for only resume making ), then the other one is giving more priority for the look and feel
         that we can provide in cv making. Both the sites has done 100 percent perfection on what they intended to do.. But i thought,
         what if a site can afford both the functionalities that these big giants are offering, like both technical easiness and the attractiveness
         at one place.. so then the answer came with a name <a href="/">CV Builder</a> ...

       </div>
       <div align="center" ><img src="/assets/line.png" width="250"></img></div>
     </div>
  </div>
</div>

