<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

</link>
<div class="span12" style="font-family: 'Arvo-Regular';min-height: 650px;margin-top: 50px;">

  <div class="span3">
    <img src="/assets/sree.jpg" height="250" width="250" style="float:left;margin-left: 20px;"></img>
  </div>
  <div class="span6" style="font-family: 'Courgette';">
     <div style="font-size:25px;"><span>Hi..</span>
       <div class="cl-10"></div>
       <div style="font-size:19px;line-height: 30px;">
         I am Sreehari k marar .. Working as a Ruby on Rails developer @ <a href="http://presciencesoft.com" >Prescience Soft Pvt Ltd</a>.<br/><br/>
         My intention behind this site was to incorporate the main features of two well known sites,
         <a href="https://cvmkr.com/">cvmkr.com</a> and <a href="http://careers.stackoverflow.com/" > stackoverflow careers</a>.
         Both the sites have their own unique functionalities & features. While <a href="http://careers.stackoverflow.com/" >Careers</a>
         is giving more priority on utilizing currently available public APIs like Linkedin, Github, Bitbucket etc
         in professional CV building, <a href="https://cvmkr.com/">cvmkr</a> is concentrating more on making a CV visually appealing.
         <div class="cl-5"></div>
         One fine day , i had a thought of combining the functionalities of both the sites, so that professional resume building becomes
         more fast and convenient.
         <div class="cl-5"></div>
         
         A few days of effort...<br/>
         ...and the answer came with the name <a href="/">CV Builder</a>.

         <div class="cl-5"></div>
         <span style="font-weight: bold;text-align: center">"Both technical easiness and attractiveness at one place"</span>


         <div class="cl-10"></div>
       </div>
       <div align="center" ><img src="/assets/line.png" width="250"></img></div>
     </div>
  </div>
</div>

