<div class="sidebar-container" style="height: 200px;;background-color: white;">
  <div class="header">
    <p style="text-align:center;font-size: 18px;padding-top: 5px;">Create PDF</p>
  </div>
</div>