<div class="sidebar-container" style="height: 200px;;background-color: white;">
  <div class="header">
    <p style="text-align:center;font-size: 18px;padding-top: 5px;">Create PDF</p>
  </div>
  <div class="padding-5" >
    <div class="grey-feed" style="height:35px;">
      <div class="float-left">
        <%= image_tag '/assets/pdf_cv.jpg',:style=>"width:autox;height:auto;" %>
      </div>
      <div class="float-left margin-left-15">
        <%= link_to "Download PDF CV", preview_path(current_user.id) %>
      </div>

    </div>
  </div>
</div>
