<%#
# Author : Krishnaprasad Varma (kpvarma@presciencesoft.com)
# Date : 30 May, 2011
# All code (c)2011 Prescience Soft Pvt. Ltd. All rights reserved
%>

<div style="margin:0px auto;width:317px;">
	<%= image_tag "/assets/lightbox/new_loading.gif", :style=>"border: medium none;", :class=>"float-left" %>
</div>
<div class="cl"></div>
