<div class="span12"  style="padding:10px;margin-top:20px;margin-left: 10px;border: 0px solid #898989; border-radius: 3pt;
     box-shadow:1px 1px 20px #c1c1c1; color:#000;width:950px;background-color: #fff;font-family: 'Times New Roman';min-height: 500px;">
     <% if @users.any? %>
       <% @users.each_with_index do |user,index| %>
      <div class="well" style="min-height:130px;margin-top: 10px;">
          <% if user.image %>
            <div style="float:left;width: 100px;height:100px;">
              <img src="<%= user.image %>"></img>
            </div>
          <% end %>
          <div style="float:left;margin-left: 20px">
            <% if user.name %>
              <h4><%= user.name %></h4>
            <% end %>
            <% if user.email %>
              <p><%= user.email %></p>
            <% end %>
              <div class="cl"></div>
          </div>
          <div class="cl"></div>
      </div>
      <div class="cl"></div>
    <% end %>
  <% end %>

</div>