<div class="span10" style="font-size:20px;border: 1px solid #fff;width:920px;margin-left: 10px;margin-right:10px;">
  <h3>Skills & Expertise </h3>
  <% if technical_details && technical_details.details && !technical_details.details.blank? %>
    <div style="font-size: 18px;font-style: italic;"><%= raw(technical_details.details) %></div>
  <% end %>
</div>