
<div class="padding-5" style="border-radius:2px;">
  
<%= simple_form_for(@technologies,:as => "technologies", :url=> create_technologies_path, :method => :post, :remote => true , :html => {:multipart => true, :class => "form-horizontal", :autocomplete => "off"}) do |f| -%>

  <div class="form-inputs" style="margin: 10px 20px;">
    <div class="cl-5"></div>
  <%= f.error_notification %>
    <div class="cl-5"></div>

    <%= f.input :details, :as=>:string, :label=> false, :input_html => {:value => @technologies.details ? @technologies.details : '' , :style=>"height:200px;width:650px;" , :id=>"some_text_area"}   %>
   <div class="cl-10"></div>
   <div class="cl-10"></div>
  <script type="text/javascript">$('#some_text_area').wysihtml5();</script>

  <%= f.submit "Save", :class=>"btn btn-info float-right margin-right-5", "data-loading-text"=>"Saving...", :onclick=>"$(this).button('loading');" %>

  <% end %>

  <div class="cl"></div>

</div>
</div>

<style type="text/css">
  ul.wysihtml5-toolbar {margin-left:20%;}
  .form-horizontal .controls {
margin-left: 220px;
}
</style>
