<%#= stylesheet_link_tag    "bootstrap-wysihtml5" %>
<%#= javascript_include_tag "bootstrap-wysihtml5" %>
<script type="text/javascript">

  // Initializing all popovers - it should be initialized outside the document ready
  $(".popitover").popover();
	
	
  // Inititalize keybindings for lightbox closing using ESC key
  $(document).keydown(function(e){
    if(e.keyCode==27){
      //console.log("Am inside");
      hidePopUpWindow();
    }
  });
	
	
   $.noty.defaultOptions = {
    layout : 'top', // (top, topLeft, topCenter, topRight, bottom, center, bottomLeft, bottomRight)
    theme : 'noty_theme_twitter',  // theme name (accessable with CSS)
    animateOpen : {height: 'toggle'}, // opening animation
    animateClose : {height: 'toggle'}, // closing animation
    easing : 'swing', // easing
    text : '', // notification text
    type : 'alert', // noty type (alert, success, error)
    speed : 500, // opening & closing animation speed
    timeout : 6000, // delay for closing event. Set false for sticky notifications
    closeButton : false, // enables the close button when set to true
    closeOnSelfClick : true, // close the noty on self click when set to true
    closeOnSelfHover : false, // close the noty on self mouseover when set to true
    force : false, // adds notification to the beginning of queue when set to true
    onShow : false, // callback for on show
    onClose : false, // callback for on close
    buttons : false, // an array of buttons
    modal : false, // adds modal layer when set to true
    template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
    cssPrefix: 'noty_', // this variable will be a type and layout prefix.
    custom: {
      container: null // $('.custom_container')
    }
  };

</script>

